

#full{
	display:table;
	position:absolute;
	width:100%;
	height:100%;
	background-color: #EEEEEE;
}

#middle{
	display:table-cell;
	vertical-align:middle;
}

#log{
	width:40%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}