#Login{
	
	margin:15% 35% 0% 35%;
	background-color:#FF9999;
	height:40%;
}

#Welcome{
	
	position:relative;
	text-align:center;
	padding-top:0.2em;
	font-size: 2em;
	font-family:cursive;
}

#Test{
	display:none;
}